*{
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Merriweather', serif;
}
.main_div{
    width: 100vw;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background: rgb(222,168,20);
    background: linear-gradient(28deg, rgba(222,168,20,1) 28%, rgba(190,57,140,1) 70%);
}
.heading{
    text-align: center;
    font-size: 6rem;
    margin-bottom: 35px;
    text-decoration: underline;
    letter-spacing: 2px;
    word-spacing: 20px;
    text-shadow: 2px 2px 2px rgb(160, 185, 123);
}
.centre_div{
    border: 2px solid black;
    width: 40vw;
    height: 50vh;
    text-align: center;
    padding: 12px 8px;
    background: rgb(86,220,231);
background: linear-gradient(28deg, rgba(86,220,231,1) 28%, rgba(52,198,52,1) 70%);
box-shadow: 4px 4px 4px black;
}
ol{
    list-style-type: none;
}
.question{
   font-size: 1.5rem;
   margin-bottom: 14px;
}
#score{
  
   width: 100%;
   height: auto;
   margin-top: 10px;
   background: rgb(201,53,101);
 background: linear-gradient(28deg, rgba(201,53,101,1) 28%, rgba(139,187,167,1) 70%);
  color: rgb(5, 61, 99);
  font-weight: bold;
  font-size: 20px;
  animation: all 2s linear;
}
.options{
   font-size: 25px;
   font-family: 'Prompt', sans-serif;
   font-weight: bold;
}
.submit{
   border: 2px solid black;
   margin-top: 8px;
   width: 95px;
   height: 35px;
   font-size: 22px;
   padding: 5px 8px;
   border-radius: 8px;
   background-color: black;
   color: white;
   box-shadow: 4px 4px 4px rgb(43, 42, 42);
}
.btn{
  width: auto;
      padding: 4px;
      font-size: 15px;
      background: rgb(214,200,56);
      background: linear-gradient(10deg, rgba(214,200,56,1) 44%, rgba(23,241,59,1) 80%);
     font-weight: bold;
     margin-top: 8px;

 }
 .scoreArea{
     display: none;
 }
 @media screen and (max-width: 480px){
    .heading {
        text-align: center;
    font-size: 2.8rem;
    margin-bottom: 35px;
    text-decoration: underline;
    letter-spacing: 0px;
    word-spacing: 6px;
    text-shadow: 2px 2px 2px rgb(160 185 123);
    }
    .centre_div {
        border: 2px solid black;
        width: 91vw;
        height: 68vh;
        text-align: center;
        padding: 12px 8px;
        background: rgb(86,220,231);
        background: linear-gradient( 28deg,  rgba(86,220,231,1) 28%, rgba(52,198,52,1) 70%);
        box-shadow: 4px 4px 4px black;
    }
    .question {
        font-size: 19px;
        margin-bottom: 12px;
    }
    .options {
        font-size: 20px;
        font-family: 'Prompt', sans-serif;
        font-weight: bold;
    }
 } 
